:root {
  --color1: rgb(0, 53, 41);
  --color1-darker: rgb(0, 41, 32);
  --color1-lighter: rgb(0, 121, 94);
  --color2: #e63946;
  --color3: #f1faee;
  --color4: #a8dadc;
  --color5: #457b9d;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(0, 53, 41);
}

header {
  background-color: rgb(0, 41, 32);
  padding-bottom: 1.5rem;
  box-shadow: 0 0 0.5rem black;
}

h1 {
  font-size: 2em;
  margin: 0;
  display: inline-block;
  margin: 0;
  padding: 1rem 2rem;
  color: var(--color3);
  background-color: var(--color2);
  font-weight: normal;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 0 4rem black;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

.insight {
  background-color: var(--color1-lighter);
  color: var(--color3);
  margin: 1.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 1rem rgb(30, 30, 30);
  overflow: hidden;
}

.insight:last-child {
  display: none;
  position: relative;
}

.insight .insight-header,
.insight .insight-body {
  padding: 1rem 1.5rem;
}

.insight-header {
  background-color: var(--color2);
  font-size: 1.2rem;
  border-bottom: 1px solid #b92b37;
}

.insight-body {
  white-space: pre;
  text-align: left;
}

.insight input,
.insight textarea {
  background: transparent;
  border: none;
  color: var(--color3);
  display: block;
  width: 100%;
  resize: vertical;
  overflow: auto;
}

.insight button[type="submit"] {
  position: absolute;
  bottom: 0;
  right: 0px;
  background: var(--color5);
  border: none;
  color: var(--color3);
  padding: 0.5rem;
  border-radius: 0.3rem 0 0 0;
}

#addInsight {
  position: fixed;
  right: 0;
  top: 15rem;
  background-color: var(--color2);
  color: var(--color3);
  font-size: small;
  display: inline-block;
  width: 4rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  padding: 0.6rem;
  z-index: 10;
  cursor: pointer;
}

#addInsight::before {
  content: "+";
  display: block;
  font-size: xx-large;
}
