doctype
html(lang='fr')
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title InsightBox
        link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
        link(rel="stylesheet", href="/stylesheets/main.css")
    body
        header
            h1 InsightBox

        #container
            each insight in insights
                .insight
                    .insight-header #{insight.title}
                    .insight-body #{insight.description} 
            
            .insight
                form#newInsight(action="/new" method="post")
                    .insight-header
                        input#newInsightTitle(name="title", placeholder="Titrez votre idée")
                    .insight-body
                        textarea#newInsightDescription(name="description", placeholder="Décrivez votre idée")
                    button(type="submit") Ajouter


        button#addInsight Ajouter un idée

        script(src="/scripts/main.js")
            